.button-styles{
	position: relative;
}
.button-styles > i{
	color: #007cba;
	cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
}
.button-styles > i:hover{
    color: #006799;
}

.style-demo {
    width: 250px;
    height: 150px;
    background: #fff;
    position: absolute;
    display: none;
    top: -160px;
    right: -90px;
    -webkit-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
}

.style-demo i{
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-71%);
    font-size: 30px;
    color: #fff;

}
.btn-postion-list,.s-share-icon-list{
    margin: 10px 0px;
    padding: 0px;
}
.s-share-social-style-wraper{
    padding-left: 0px;
    padding-right: 0px;
}
.s-share-icon-list{
    overflow: hidden;
}
.s-share-style-list li{
    display: inline-block;
    width: 210px;
    margin-bottom: 18px;
}
.s-share-style-list li input{
    margin-left: 15px;
}
.s-share-icon-list li{
    float: left;
    display: flex;
    width: 210px;
    margin-bottom: 18px;
}
.s-share-icon-list li .s-share-icon{
    height: 30px;
    width: 30px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}
.s-share-icon.facebook{
    background: #375DAD;
}
.s-share-icon.twitter{
    background: #1DA1F2;
}
.s-share-icon.pinterest{
    background: #BD081B;
}
.s-share-icon.linkedin{
    background: #007BB6;
}
.s-share-icon.whatsapp{
    background: #189D0E;
}
.s-share-icon.skype{
    background: #00A9F0;
}
.s-share-icon.reddit{
    background: #FF4500;
}
.s-share-icon.gmail{
    background: #D23C2E; 
}
.s-share-icon.instagram{
    background: #e77e58
}
.s-share-icon.youtube{
    background: red;
}
.s-share-icon.wordpress{
    background: #464646;
}
.s-share-icon.google{
    background: #cb0909;
}
.s-share-icon.messenger{
    background: #4dabf7;
}
.s-share-icon.line{
    background: #00AA01;
}
.s-share-icon-list li input{
    margin: 8px 6px 0px 0px;
}
.s-share-icon-list li label i{
    font-size: 18px;
    line-height: 30px;
}
.s-share-icon-list li label i.icon-facebook{
    color: #375DAD;
}
.s-share-icon-text{
    margin: 2px 0px 2px 8px;
    font-size: 15px;
}


span.tbl-ttle {
color: #23282d;
font-size: 1.2em;
margin-bottom: 15px;
display: block;
font-weight: 600;
padding: 0px;
}
#socialshare_general_tab h2{
    display: none;
}
.button-styles{
    font-weight: 600;
    line-height: 2;
}
td.s-share-social-style-wraper {
    padding-left: 0px;
    padding-right: 0px;
}
td.social-share-icon-reset {
    padding-left: 0px;
    padding-right: 0px;
}
.s-share-social-col{
    display: flex;
    flex-direction: column;
    width: 250px;
}
.s-share-social-style,.s-share-social-location{
    display: flex;
}
.s-share-social-style-item {
    display: flex;
    font-size: 15px;
}
.s-share-social-location .s-share-social-style-item{
    margin-top: 10px;
}
.s-share-social-location .s-share-social-style-item input{
    margin-top: 1px;
    margin-right: 5px;
}
.s-share-social-location.for-social-style-1,.s-share-social-location.for-social-style-others{
    display: none;
}